/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ****** */

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: Tahoma, sans-serif;
  /* font-size: 100%; */
  text-size-adjust: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  /* font-size: 1em; */
  /* font-size: 16px; */
  /* font-size: 4vw; */
}

main {
  /* max-width: 850px;
  margin: 0 auto; */
  display: flex;
  flex-direction: column;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

/* SCHEDULE */

.week {
  width:100%;
  max-width: 900px;
  display:flex;
  flex-direction: column;
  justify-content: 'center';
  margin: 35px auto;
}

.week p {
  font-size: 1.8rem;
  margin-bottom: 35px;
}

.game { 
  display: grid;
  width: 100%;
  line-height: 2.5;
  grid-template-columns: 115px 1fr 1fr;
  gap: 15px;
  padding-left: 25px;
  font-size: 1.25rem;
} 

.game:nth-child(even){
  background-color: #efefef;
}

.field {
  display: flex;
  justify-content: space-between;
}


/* STATS PAGE */

main {
  margin-top: 25px;
}

.navBack {
  font-size: 3rem;
  color: black;
  align-self:flex-end;
  height:0;
  transform: translate(-25px, 25px);
}

.score {
  font-family: 'Courier New', monospace;
  font-size: 4rem;
  text-align: center;
  margin: 18px auto;
}

.teams {
  margin-top: 15px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: black;
  gap: 5px
}

.button {
  font-size: 1.5rem;
  line-height: 3;
  text-align: center;
  cursor: pointer;
  background-color: white;
  border-top: 5px solid white;
  border-bottom: 5px solid black;
}

/* uncomment when stats table is ready */
 .inView {
  border-color: black;
  border-bottom-color: #efefef;
  background-color: #efefef;
}

/* table styles */

.stats {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.stats thead {
  background-color: #efefef;
  font-size: 1.5rem;
  line-height: 3;
}

.stats tr {
  padding: 0 20px;
  display:grid;
  grid-template-columns: 400px repeat(8, 1fr);
}


.stats tr *:first-child {
  text-align: left;
}

.stats tr:nth-child(even) {
  background-color: #efefef;
}

.stats td {
  font-size: 1.5rem;
  line-height: 3;
}
